.notActive {
  padding: 4px 0;
  margin: 0px 6px;
  border-bottom: 1px solid rgba(0, 0, 255, 0.712);
}
.isActive {
  padding: 4px 0;
  margin: 0px 6px;
  border-bottom: 2px solid rgba(0, 0, 255, 0.712);
}